*

!.github/
!.github/**
!examples/
!examples/**
!src/
!src/**
!.gitignore
!.pre-commit-config.yaml
!*.toml
!*.md
!LICENSE*
!.env.template
!.dockerignore
!Dockerfile*

# Ensure .env is not included from anywhere
.env
**/.env
